

<h2> Detailed baby lists</h2>
<table>
  <tr class="babyclass" *ngFor='let baby of babies'>
    <td class="babyUsername"> {{baby.username}}</td>
    <td> {{baby.firstname}}</td>
    <td> {{baby.lastname}}</td>
    <td> {{baby.Birthdate}}</td>
    <td> {{baby.area}}</td>
    <td> {{baby.gender}}</td>
    <td><button class="btnbabies" (click)="onclick(baby.username)">Edit</button></td>
    <td><button class="btnDeleteBaby" (click)="deleteBabies(baby.username)">Delete!</button></td>
  </tr>
</table>



<h2> Detailed Sitters list</h2>
<table>
  <tr *ngFor='let sitter of sitters'>
    <td> {{sitter.username}}</td>
    <td> {{sitter.firstname}}</td>
    <td> {{sitter.lastname}}</td>
    <td> {{sitter.Birthdate}}</td>
    <td> {{sitter.area}}</td>
    <td> {{sitter.gender}}</td>
    <td><button class="btnSitters" (click)="onclick(sitter.username)">Edit</button></td>
    <td><button (click)="deleteSitter(sitter.username)">Delete</button></td>
  </tr>
</table>

<app-user-detailed></app-user-detailed>
