<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="over">
    <nav>
      <button mat-raised-button id="navBaby" routerLink="/register-baby" routerLinkActive="active">Register Baby</button>
      <button mat-raised-button routerLink="/register-sitter" routerLinkActive="active">Register Sitter</button >
      <button mat-raised-button routerLink="/app-login" routerLinkActive="active">Login</button >
      <button mat-raised-button routerLink="/test" routerLinkActive="active">test</button >
      <button mat-raised-button routerLink="/baby-list" routerLinkActive="active">Baby list</button >
      <button mat-raised-button id="navAdmin" routerLink="/admin" routerLinkActive="active">Admin Area</button >
      <button mat-raised-button id="navUserList" *ngIf="authService.isLoggedIn" routerLink="admin/users" routerLinkActive="active">userslist</button >
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    
      
    
  </mat-sidenav-content>
</mat-sidenav-container>
   
    

<router-outlet></router-outlet>



