<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<nav>
  <a id="navBaby" routerLink="/register-baby" routerLinkActive="active">Register Baby</a>
  <a routerLink="/register-sitter" routerLinkActive="active">Register Sitter</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/test" routerLinkActive="active">test</a>
  <a id="navAdmin" routerLink="/admin" routerLinkActive="active">Admin Area</a>
  <a *ngIf="authService.isLoggedIn" routerLink="admin/users" routerLinkActive="active">userslist</a>
</nav>


<router-outlet></router-outlet>



