<div id="detailedSitterList" *ngIf="this.sitter">
    <h2> Overview of {{sitter.username}}</h2>
    <table>
        <tr>
            <td> {{sitter.username}}</td>
            <td> {{sitter.firstname}}</td>
            <td> {{sitter.lastname}}</td>
            <td> {{sitter.Birthdate}}</td>
            <td> {{sitter.area}}</td>
            <td> {{sitter.gender}}</td>
        </tr>
    </table>
    <form [formGroup]="editSitter" (submit)="onSubmitSitter(editSitter)" novalidate>
        <input  formControlName="username">
        <input  formControlName="firstname">
        <input  formControlName="lastname">
        <input  formControlName="Birthdate">
        <input  formControlName="gender">
        <input  formControlName="area">
        <button id="btnUpdateSitter" type="submit">Save</button>
    </form>
</div>

<div id="detailedUserList" *ngIf="this.babyInfo">
        <h2> Overview of {{currentUser.username}}</h2>
        <table>
            <tr>
                <td> username</td>
                <td> firstanme</td>
                <td> lastname</td>
                <td> Birthdate</td>
                <td> Area</td>
                <td> Gender</td>
            </tr>
        </table>
        <form [formGroup]="editBaby"  novalidate>
            <input id="detailedBabyUsername"  formControlName="username" [(ngModel)]="currentUser.username">
            <input  formControlName="firstname"[(ngModel)]="currentUser.firstname">
            <input  formControlName="lastname" [(ngModel)]="currentUser.lastname">
            <input  formControlName="birthdate"[(ngModel)]="currentUser.birthdate">
            <input  formControlName="gender"[(ngModel)]="currentUser.gender">
            <input  formControlName="area"[(ngModel)]="currentUser.area">
            <button id="btnUpdateBaby" (click)="updateUser(currentUser)" type="submit">Save</button>
        </form>
    </div>